<div class="container">
    <div class="login d-flex align-items-center justify-content-center">
        <div class="col-lg-6">
            <div class="card">
                <h4 class="card-header colored-border p-3 text-info text-center">İşletmem</h4>
                <div class="card-body p-lg-5">
                    <form autocomplete="off" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                        <div class="form-group">
                            <label for="username">Kullanıcı Adı</label>
                            <input type="text" class="form-control" formControlName="username"
                                [ngClass]="{ 'is-invalid': submitted && f.username.errors }" [autofocus] />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required">
                                    Kullanıcı adı zorunludur
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Parola</label>
                            <input type="password" class="form-control" formControlName="password"
                                [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required">Parola zorunludur</div>
                            </div>
                        </div>
                        <button [disabled]="loading" class="btn btn-lg btn-info btn-block mt-4">
                            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                            Giriş Yap
                        </button>
                        <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
                            {{ error }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>