<ul *ngIf="isLogin" class="nav">
    <li class="nav-item">
        <a class="nav-link active" href="/radyoloji-islem-kayit" style="color: white;">Radyoloji İşlemleri</a>
    </li>

    <!-- 
    <li class="nav-item">
        <a class="nav-link" href="/logout" style="color: white;">Çıkış</a>
    </li>
      
    <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
    </li>
     -->
</ul>